.AddSelector-form {
  display: flex;
  justify-content: center;

  width: 100%;
}
.AddSelector-input,
.AddSelector-submit {
  display: flex;
  align-items: center;

  height: 40px;
  line-height: 40px;
  padding: 10px;
}
.AddSelector-input {
  width: 25%;
  border: 1px solid #dadada;
  border-radius: 3px 0 0 3px;
  border-right-width: 0;

  font-size: 20px;
}
.AddSelector-submit {
  padding: 0 15px;
  background: #33be7b;
  border: 0 none;
  border-radius: 0 3px 3px 0;

  color: white;
  font-size: 25px;

  cursor: pointer;
}
.AddSelector-submit[disabled] {
  opacity: 0.5;
}